In [1]:
import pandas as pd
import pickle

In [2]:
n_style_df = pd.read_csv("../../targetdata/rawdata/n_style.csv")

In [3]:
n_style_df

,race_id,race_venue,racenum,year,monthday,frame_number,horse_number,style
0,202342092201,浦和,1,2023,922,1,1,差し
1,202342092201,浦和,1,2023,922,2,2,差し
2,202342092201,浦和,1,2023,922,3,3,追込
3,202342092201,浦和,1,2023,922,4,4,差し
4,202342092201,浦和,1,2023,922,5,5,差し
...,...,...,...,...,...,...,...,...
466,202350092212,園田,12,2023,922,4,4,追込
467,202350092212,園田,12,2023,922,5,5,差し
468,202350092212,園田,12,2023,922,6,6,差し
469,202350092212,園田,12,2023,922,7,7,差し
470,202350092212,園田,12,2023,922,8,8,差し

# style

In [4]:
n_style_df['style'].unique()

array(['差し', '追込', '先行', '逃げ', '不明'], dtype=object)

In [5]:
# マッピングのルールを定義
style_mapping = {
    '逃げ': '1',
    '先行': '2',
    '差し': '3',
    '追込': '4',
    '不明': '0'
}

n_style_df['style'] = n_style_df['style'].map(style_mapping).fillna(0)

In [6]:
n_style_df['style'].unique()

array(['3', '4', '2', '1', '0'], dtype=object)

# race_venue

In [7]:
n_style_df['race_venue'].unique()

array(['浦和', '大井', '名古屋', '園田'], dtype=object)

In [8]:
# マッピングのルールを定義
race_venue_mapping = {
    '札幌': '01',
    '函館': '02',
    '福島': '03',
    '新潟': '04',
    '東京': '05',
    '中山': '06',
    '中京': '07',
    '京都': '08',
    '阪神': '09',
    '小倉': '10',
    '門別': '30',
    '北見': '31',
    '岩見沢': '32',
    '帯広': '33',
    '旭川': '34',
    '盛岡': '35',
    '水沢': '36',
    '上山': '37',
    '三条': '38',
    '足利': '39',
    '宇都宮': '40',
    '高崎': '41',
    '浦和': '42',
    '船橋': '43',
    '大井': '44',
    '川崎': '45',
    '金沢': '46',
    '笠松': '47',
    '名古屋': '48',
    '紀三井寺': '49',
    '園田': '50',
    '姫路': '51',
    '益田': '52',
    '福山': '53',
    '高知': '54',
    '佐賀': '55',
    '荒尾': '56',
    '中津': '57',
    '札幌（地方競馬）': '58',
    '函館（地方競馬）': '59',
    '新潟（地方競馬）': '60',
    '中京（地方競馬）': '61',
    '未設定・未整備時': '00'
}

n_style_df['race_venue'] = n_style_df['race_venue'].map(race_venue_mapping).fillna(0)

In [9]:
n_style_df['race_venue'].unique()

array(['42', '44', '48', '50'], dtype=object)

In [10]:
# カラム名のマッピングルールを定義
column_mapping = {
    'race_venue': 'keibajo_code',
    'racenum': 'race_bango',
    'year': 'kaisai_nen',
    'monthday': 'kaisai_tsukihi',
    'frame_number': 'wakuban',
    'horse_number': 'umaban',
    'style': 'kyakushitsu_hantei'
}

n_style_df.rename(columns=column_mapping, inplace=True)

In [11]:
# 数値化したいカラムのリスト
columns_to_convert = [
                    'keibajo_code',
                    'race_bango',
                    'kaisai_nen',
                    'kaisai_tsukihi',
                    'wakuban',
                    'umaban',
                    'kyakushitsu_hantei'
                    ]

In [12]:
# 各カラムを数値化し、欠損値の量を調べる
for column in columns_to_convert:
    n_style_df[column] = pd.to_numeric(n_style_df[column], errors='coerce')
    missing_values = n_style_df[column].isna().sum()
    print(f"{column} の欠損値の量: {missing_values}")

keibajo_code の欠損値の量: 0
race_bango の欠損値の量: 0
kaisai_nen の欠損値の量: 0
kaisai_tsukihi の欠損値の量: 0
wakuban の欠損値の量: 0
umaban の欠損値の量: 0
kyakushitsu_hantei の欠損値の量: 0

In [13]:
n_style_df = n_style_df[columns_to_convert]
n_style_df.to_pickle('../../targetdata/n_style.pkl')