使用するカラム
参照：https://everydb.iwinz.net/edb2_manual/12-3-03-RACE.html
- year（開催年）
- monthday（開催月日）
- jyocd（競馬場コード）
- kaiji（開催回[第N回]）
- Nichiji（開催日目[N日目]）
- RaceNum（レース番号）
- YoubiCD（曜日コード）
- TokuNum（特別競走番号）
- Nkai（重賞回次[第ｎ回]）
- GradeCD（グレードコード）
- SyubetuCD（競走種別コード）
- KigoCD（競走記号コード）
- JyuryoCD（重量種別コード）
- JyokenCD1（競走条件コード 2歳条件）
- JyokenCD2（競走条件コード 3歳条件）
- JyokenCD3（競走条件コード 4歳条件）
- JyokenCD4（競走条件コード 5歳以上条件）
- JyokenCD5（競走条件コード 最若年条件）
- Kyori（距離）
- TrackCD（トラックコード）
- CourseKubunCD（コース区分）
- Honsyokin1（本賞金1）
- Honsyokin2（本賞金2）
- Honsyokin3（本賞金3）
- Honsyokin4（本賞金4）
- Honsyokin5（本賞金5）
- Honsyokin6（本賞金6）
- Honsyokin7（本賞金7）
- TorokuTosu（登録頭数）
- SyussoTosu（出走頭数）
- NyusenTosu（入線頭数）
- TenkoCD（天候コード）
- SibaBabaCD（芝馬場状態コード）
- DirtBabaCD（ダート馬場状態コード）
- LapTime1（ラップタイム1）
- LapTime2（ラップタイム2）
- LapTime3（ラップタイム3）
- LapTime4（ラップタイム4）
- LapTime5（ラップタイム5）
- LapTime6（ラップタイム6）
- LapTime7（ラップタイム7）
- LapTime8（ラップタイム8）
- LapTime9（ラップタイム9）
- LapTime10（ラップタイム10）
- LapTime11（ラップタイム11）
- LapTime12（ラップタイム12）
- LapTime13（ラップタイム13）
- LapTime14（ラップタイム14）
- LapTime15（ラップタイム15）
- LapTime16（ラップタイム16）
- LapTime17（ラップタイム17）
- LapTime18（ラップタイム18）
- LapTime19（ラップタイム19）
- LapTime20（ラップタイム20）
- LapTime21（ラップタイム21）
- LapTime22（ラップタイム22）
- LapTime23（ラップタイム23）
- LapTime24（ラップタイム24）
- LapTime25（ラップタイム25）
- SyogaiMileTime（障害マイルタイム）
- HaronTimeS3（前３ハロン）
- HaronTimeS4（前４ハロン）
- HaronTimeL3（後３ハロン）
- HaronTimeL4（後４ハロン）
- Corner1（コーナー1）
- Syukaisu1（周回数1）
- Jyuni1（通過順位1）
- Corner2（コーナー2）
- Syukaisu2（周回数2）
- Jyuni2（通過順位2）
- Corner3（コーナー3）
- Syukaisu3（周回数3）
- Jyuni3（通過順位3）
- Corner4（コーナー4）
- Syukaisu4（周回数4）
- Jyuni4（通過順位4）

In [6]:
columns = [ 'year',
            'monthday',
            'jyocd',
            'kaiji',
            'nichiji',
            'racenum',
            'youbicd',
            'tokunum',
            'nkai',
            'gradecd',
            'syubetucd',
            'kigocd',
            'jyuryocd',
            'jyokencd1',
            'jyokencd2',
            'jyokencd3',
            'jyokencd4',
            'jyokencd5',
            'kyori',
            'trackcd',
            'coursekubuncd',
            'honsyokin1',
            'honsyokin2',
            'honsyokin3',
            'honsyokin4',
            'honsyokin5',
            'honsyokin6',
            'honsyokin7',
            'torokutosu',
            'syussotosu',
            'nyusentosu',
            'tenkocd',
            'sibababacd',
            'dirtbabacd',
            'laptime1',
            'laptime2',
            'laptime3',
            'laptime4',
            'laptime5',
            'laptime6',
            'laptime7',
            'laptime8',
            'laptime9',
            'laptime10',
            'laptime11',
            'laptime12',
            'laptime13',
            'laptime14',
            'laptime15',
            'laptime16',
            'laptime17',
            'laptime18',
            'laptime19',
            'laptime20',
            'laptime21',
            'laptime22',
            'laptime23',
            'laptime24',
            'laptime25',
            'syogaimiletime',
            'harontimes3',
            'harontimes4',
            'harontimel3',
            'harontimel4',
            'corner1',
            'syukaisu1',
            'jyuni1',
            'corner2',
            'syukaisu2',
            'jyuni2',
            'corner3',
            'syukaisu3',
            'jyuni3',
            'corner4',
            'syukaisu4',
            'jyuni4'
          ]

# preparation

In [7]:
import pandas as pd

In [8]:
race_df = pd.read_pickle('../../rawdata/race.pkl')
race_df = race_df[columns]

# cleansing

### KettoNum（血統登録番号）

In [3]:
#KettoNum（血統登録番号）の値と個数
uma_race_df['kettonum'].value_counts()

0000000000    109
2013106297     80
2013101031     72
2016105664     67
2016100742     66
             ...
2009100515      1
2019103368      1
2014103663      1
2020102695      1
2021105422      1
Name: kettonum, Length: 46565, dtype: int64

In [4]:
#KettoNum（血統登録番号）を数値型に
uma_race_df['kettonum'] = pd.to_numeric(uma_race_df['kettonum'], errors='coerce')
uma_race_df['kettonum'].isna().sum()

0

In [8]:
#jyocd（競馬場コード）を数値型に
uma_race_df['jyocd'] = pd.to_numeric(uma_race_df['jyocd'], errors='coerce')
uma_race_df['jyocd'].isna().sum()

528

In [34]:
#欠損値のデータを確認
uma_race_df[uma_race_df['zogensa'].isna() ==True]

,kettonum,year,monthday,jyocd,kaiji,nichiji,racenum,wakuban,umaban,bamei,...,hinsyucd,keirocd,barei,futan,kisyucode,bataijyu,zogenfugo,zogensa,kakuteijyuni,kyakusitukubun
0,2013190004,2018,317,NaN,0,0,2,0,2,ウェイトゥパリス,...,1,7,5,570,0,NaN,1,NaN,02,0
1,2013190004,2018,408,NaN,0,0,5,0,7,ウェイトゥパリス,...,1,7,5,570,0,NaN,1,NaN,04,0
2,2013190004,2018,603,NaN,0,0,4,0,4,ウェイトゥパリス,...,1,7,5,570,0,NaN,1,NaN,03,0
3,2013190004,2018,826,NaN,0,0,6,0,2,ウェイトゥパリス,...,1,7,5,585,0,NaN,1,NaN,06,0
4,2013190004,2018,1021,NaN,0,0,7,0,2,ウェイトゥパリス,...,1,7,5,580,0,NaN,1,NaN,05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417266,2021103423,2023,910,9.0,4,2,5,3,3,プエルタアスール,...,1,3,2,550,1018,470.0,1,NaN,03,2
417267,2021105796,2023,910,9.0,4,2,5,4,4,サークルオブジョイ,...,1,1,2,550,1102,482.0,1,NaN,01,2
417268,2021104827,2023,910,9.0,4,2,5,5,5,ピエスダルジャン,...,1,7,2,550,1157,440.0,1,NaN,07,4
417269,2021102673,2023,910,9.0,4,2,5,6,6,ダイシンアレス,...,1,3,2,550,5203,464.0,1,NaN,06,2
417270,2021105422,2023,910,9.0,4,2,5,7,7,ブラーヴイストワル,...,1,4,2,550,666,508.0,1,NaN,02,4

In [35]:
#KyakusituKubun（今回レース脚質判定）の値と個数
uma_race_df['kyakusitukubun'].value_counts()

4    135113
3    127890
2    110614
1     38922
0      4819
Name: kyakusitukubun, dtype: int64

In [36]:
#KyakusituKubun（今回レース脚質判定）を数値型に
uma_race_df['kyakusitukubun'] = pd.to_numeric(uma_race_df['kyakusitukubun'], errors='coerce')
uma_race_df['kyakusitukubun'].isna().sum()

0

In [37]:
#kakuteijyuni（確定着順）を数値型に
uma_race_df['kakuteijyuni'] = pd.to_numeric(uma_race_df['kakuteijyuni'], errors='coerce')
uma_race_df['kakuteijyuni'].isna().sum()

0

# save as pickle

In [38]:
uma_race_df.to_pickle('../../traindata/race.pkl')