# config

In [1]:
racecourse = 'morioka'
race_id = 202335100912
kaisai_nen = '2023'
kaisai_tsukihi = '1009'

In [2]:
race_bango = '12'
keibajo_code = '35'

In [3]:
# tenko_code = 4
# # 0	未設定・未整備時の初期値(主に地方競馬・海外国際レースに関するデータ)
# # 1	晴	Fine
# # 2	曇	Cloudy
# # 3	雨	Rainy
# # 4	小雨	Drizzle
# # 5	雪	Snow
# # 6	小雪	Light Snow


# babajotai_code_dirt = 3
# # 0	未設定・未整備時の初期値(主に地方競馬・海外国際レースに関するデータ)
# # 1	良	Firm	Standard
# # 2	稍重	Good	Good
# # 3	重	Yielding	Muddy
# # 4	不良	Soft	Sloppy


# juryo_shubetsu_code = 0
# # 0	未設定・未整備時の初期値(主に地方競馬・海外国際レースに関するデータ)
# # 1	ハンデ	HANDICAP	出走馬の実績等を考慮し、ハンデキャッパーが負担重量を決定するレース
# # 2	別定	SPECIAL WEIGHT	レースごとに負担重量を決定する基準が設けられているレース
# # 3	馬齢	WEIGHT FOR AGE	馬の年齢や性別によって負担重量を決定するレース
# # 4	定量	SPECIAL WEIGHT	別定レースであって、馬の年齢や性別によって負担重量を決定するレース

# shusso_tosu = 11

In [4]:
# update_bataiju = {
#     1: 493,
#     2: 502,
#     3: 479,
#     4: 451,
#     5: 466,
#     6: 594,
#     7: 431,
#     8: 489,
#     9: 508,
#     10: 427,
#     11: 503,
#     # 12: 420,
# }

# update_zogen_fugo = {
#     1: '+',
#     2: '+',
#     3: '-',
#     4: '-',
#     5: '-',
#     6: '-',
#     7: '-',
#     8: '+',
#     9: '+',
#     10: '-',
#     11: '-',
#     # 12: '+',
# }

# update_zogen_sa = {
#     1: 1,
#     2: 1,
#     3: 7,
#     4: 19,
#     5: 2,
#     6: 1,
#     7: 4,
#     8: 7,
#     9: 5,
#     10: 1,
#     11: 7,
#     # 12: 5,
# }

In [5]:
import pandas as pd
import numpy as np

import psycopg2
import configparser
from sklearn.preprocessing import MinMaxScaler

#モデル
import lightgbm as lgb

#クロスバリデーション
from sklearn.model_selection import KFold

#エヴァリュエーション
from sklearn.metrics import precision_score, recall_score, mean_squared_error

#可視化
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

#保存
import pickle

# scraping

In [6]:
import requests
from bs4 import BeautifulSoup
import re
url = f'https://nar.netkeiba.com/race/shutuba.html?race_id={race_id}'
#url = f'https://race.netkeiba.com/race/shutuba.html?race_id={race_id}'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
# race基本情報
race_list = [race_id]
horse_list_list = []
title = soup.find('title').text
race_name, date = title.split(' | ')[0], title.split(' | ')[1]
try:
    extracted_race_name = race_name.split(' ')[0]
    race_list.append(extracted_race_name)
except:
    race_list.append(race_name)
match_date = re.search(r'(\d{4})年(\d{1,2})月(\d{1,2})日', date)
year, month, day = match_date.groups()
match_place_race = re.search(r'(\w+)(\d{1,2})R', date)
place, race_number = match_place_race.groups()
race_list.append(int(year))
race_list.append(int(month))
race_list.append(int(day))
race_list.append(place)
race_list.append(int(race_number))

try:
    # 頭数の情報を含む要素を取得
    race_data_02_element = soup.select_one('.RaceData02')
    # 頭数のテキストを取得
    if race_data_02_element:
        race_data_02_text = race_data_02_element.get_text()
        # 頭数の情報を取得
        horse_count_match = re.search(r'(\d+)頭', race_data_02_text)
        if horse_count_match:
            race_list.append(int(horse_count_match.group(1)))
except:
    race_list.append(None)

# ダートまたは芝の情報を取得
try:
    race_data_element = soup.select_one('.RaceData01')
    if race_data_element:
        race_data_text = race_data_element.get_text()
        ground_match = re.search(r'(ダ|芝)\d+m', race_data_text)
        if ground_match:
            ground_type = ground_match.group(1)
            race_list.append(ground_type)
except:
    race_list.append(None)

try:
    race_data_element = soup.select_one('.RaceData01')
    # 天候と馬場状態のテキストを取得
    if race_data_element:
        race_data_text = race_data_element.get_text()  
        # 天候の情報を取得
        weather_match = re.search(r'天候:(\w+)', race_data_text)
        if weather_match:
            race_list.append(weather_match.group(1))
        # 馬場状態の情報を取得
        track_condition_match = re.search(r'馬場:(\w+)', race_data_text)
        if track_condition_match:
            race_list.append(track_condition_match.group(1))
except:
    race_list.extend([None, None])

#tableの情報を取得
horse_tables = soup.findAll("table", class_="RaceTable01")
horse_table = horse_tables[0].findAll('tr', class_="HorseList")

# 取り消しの馬の数をカウントする変数
cancel_count = 0

#tableの情報から各情報を抜き出す
for i in range(len(horse_table)):
    horse_list = [race_id]
    result_row = horse_table[i].findAll("td")
        
    # 馬の名前の整理
    horse_list.append(result_row[3].get_text().strip())

    # 取り消しのチェック
    if "Cancel" in horse_table[i].get("class"):
        horse_list.append("取消")
        cancel_count += 1  # 取り消しの馬の数をカウント
    else:
        horse_list.append("出走")
    
    horse_list.append(int(result_row[0].get_text().strip()))  # 枠
    horse_list.append(int(result_row[1].get_text().strip()))  # 番号
    
    # 馬体重の整理
    try:
        weight_match = re.match(r'(\d+)\(([-+]?\d+)\)', result_row[8].get_text().strip())
        body_weight, body_weight_diff = weight_match.groups()
        horse_list.append(float(body_weight))  # 馬体重
        horse_list.append(float(body_weight_diff))  # 増減差
    except:
        horse_list.extend([None, None])

    # オッズの整理
    odds = result_row[9].get_text().strip().split('\n')[0]
    cleaned_odds = re.sub(r"[^0-9.]", "", odds)
    if cleaned_odds:
        horse_list.append(float(cleaned_odds))
    else:
        horse_list.append(None)
    
    # 人気の整理
    popularity = result_row[10].get_text().strip().split('\n')[0]
    cleaned_popularity = re.sub(r"[^0-9]", "", popularity)
    if cleaned_popularity:
        horse_list.append(float(cleaned_popularity))
    else:
        horse_list.append(None)

    horse_list_list.append(horse_list)
race_df = pd.DataFrame(columns = ['race_id','race_title','year', 'month', 'day', 'place', 'race_number', 'total', 'type', 'weather', 'condition'])
horse_df = pd.DataFrame(columns = ['race_id', 'horse_name', 'mark', 'frame_number','horse_number', 'weight', 'weight_diff', 'odds', 'popular'])

for horse_list in horse_list_list:
    horse_se = pd.Series( horse_list, index=horse_df.columns)
    horse_df = pd.concat([horse_df, horse_se.to_frame().T], ignore_index=True)
race_se = pd.Series(race_list, index=race_df.columns )
race_df = pd.concat([race_df, race_se.to_frame().T], ignore_index=True)

race_df['total'] = race_df['total'] - cancel_count

In [7]:
race_df

,race_id,race_title,year,month,day,place,race_number,total,type,weather,condition
0,202335100912,マイルチャンピオンシ(Jpn1),2023,10,9,盛岡1,2,14,ダ,小雨,稍

In [8]:
horse_df

,race_id,horse_name,mark,frame_number,horse_number,weight,weight_diff,odds,popular
0,202335100912,タガノビューティー,出走,1,1,519.0,1.0,17.7,6.0
1,202335100912,カフェファラオ,出走,2,2,522.0,-4.0,3.3,2.0
2,202335100912,レモンポップ,出走,3,3,None,None,1.8,1.0
3,202335100912,ゴールデンヒーラー,出走,3,4,472.0,6.0,200.9,9.0
4,202335100912,ハクシンパーソナル,出走,4,5,478.0,2.0,575.3,13.0
5,202335100912,レディバグ,出走,4,6,466.0,1.0,62.5,7.0
6,202335100912,ノットゥルノ,出走,5,7,538.0,9.0,16.9,5.0
7,202335100912,ソリストサンダー,出走,5,8,480.0,-1.0,70.6,8.0
8,202335100912,ジオグリフ,出走,6,9,515.0,5.0,5.6,3.0
9,202335100912,デンコウリジエール,出走,6,10,482.0,7.0,220.4,10.0
10,202335100912,アルサトワ,出走,7,11,508.0,13.0,476.6,11.0
11,202335100912,イグナイター,出走,7,12,506.0,-11.0,16.6,4.0
12,202335100912,レールガン,出走,8,13,460.0,-3.0,511.0,12.0
13,202335100912,ボウトロイ,出走,8,14,496.0,1.0,648.1,14.0

In [9]:
config = configparser.ConfigParser()
config.read('../../config.ini')

user = config['postgresql']['user']
password = config['postgresql']['password']
host = config['postgresql']['host']
database = config['postgresql']['database']

connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [10]:
# PostgreSQLに接続
%load_ext sql
%sql $connection_string

In [11]:
%%sql
SELECT *
FROM nvd_se
WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code
LIMIT 100;

 * postgresql://postgres:***@localhost/pckeiba
14 rows affected.

[('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '5', '08', '2015100902', 'ソリストサンダー\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '04', '08', '3', '05727', '福永敏\u3000', '894030', '村上\u3000憲政\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '赤，黒縦縞，青袖\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '05299', '00000', '吉原寛人', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '1', '01', '2017101719', 'タガノビューティー\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '06', '2', '01028', '西園正都', '859002', '八木\u3000良司\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '緑，桃襷，袖黄一本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '01077', '00000', '石橋脩\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '6', '10', '2017103165', 'デンコウリジエール\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '06', '2', '01095', '荒川義之', '523005', '松本\u3000好雄\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '青，桃襷，桃袖\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '01019', '00000', '秋山真一', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '8', '13', '2017103302', 'レールガン\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '01', '06', '3', '05169', '佐藤浩一', '000000', 'Ｉレーシング\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '白，青襷，桃袖\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '05463', '00000', '高橋悠里', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '7', '11', '2017106606', 'アルサトワ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '06', '3', '20484', '櫻田康二', '999008', '伊藤\u3000捷一\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '青，白元禄，青袖白一本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '05552', '00000', '鈴木祐\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '2', '02', '2017110151', 'カフェファラオ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '06', '1', '01070', '堀宣行\u3000', '629007', '西川\u3000光一\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黄，黒襷，黒袖\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '05542', '00000', '高松亮\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '8', '14', '2018100116', 'ボウトロイ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '01', '05', '3', '05683', '菅原勲\u3000', '893033', '会田\u3000裕一\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '緑，黄袖緑一本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '05577', '00000', '岩本怜\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '3', '04', '2018100444', 'ゴールデンヒーラー\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '2', '1', '03', '05', '3', '20477', '佐藤祐司', '000000', '平賀\u3000敏男\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '紫，黄一本輪，黄袖紫縦縞\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '550', '000', '0', '0', '05490', '00000', '山本政聡', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '7', '12', '2018100916', 'イグナイター\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '05', '3', '05691', '新子雅司', '537033', '野田\u3000善己\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黄，赤襷\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '05524', '00000', '笹川翼\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '4', '06', '2018103774', 'レディバグ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '2', '1', '05', '05', '2', '01078', '北出成人', '348803', 'ゴールドアップ・カンパニー\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '青，黄十字襷，袖黄二本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '550', '000', '0', '0', '01034', '00000', '酒井学\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '4', '05', '2018106790', 'ハクシンパーソナル\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '05', '3', '05762', '千葉幸喜', '208006', '新井原\u3000博\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黄，黒縦縞，黒袖黄二本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '20424', '00000', '坂口裕一', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '3', '03', '2018110015', 'レモンポップ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '01', '05', '1', '01162', '田中博康', '967800', 'ゴドルフィン\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', 'ロイヤルブルー\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '01163', '00000', '坂井瑠星', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '5', '07', '2019101623', 'ノットゥルノ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '04', '2', '01002', '音無秀孝', '708800', '金子真人ホールディングス\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黒，青袖，黄鋸歯形\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '00666', '00000', '武豊\u3000\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '12', '6', '09', '2019105056', 'ジオグリフ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '01', '04', '1', '01126', '木村哲也', '226800', 'サンデーレーシング\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黒，赤十字襷，袖黄縦縞\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '570', '000', '0', '0', '01174', '00000', '岩田望来', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0')]

In [12]:
n_uma_race_sql = %sql SELECT * FROM nvd_se WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code;
n_race_sql = %sql SELECT * FROM nvd_ra WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code;
n_payout_sql = %sql SELECT * FROM nvd_hr WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code;

 * postgresql://postgres:***@localhost/pckeiba
14 rows affected.
 * postgresql://postgres:***@localhost/pckeiba
1 rows affected.
 * postgresql://postgres:***@localhost/pckeiba
0 rows affected.

In [13]:
n_uma_race_df = pd.DataFrame(n_uma_race_sql)
n_race_df = pd.DataFrame(n_race_sql)
n_payout_df = pd.DataFrame(n_payout_sql)

In [14]:
n_uma_race_df.to_pickle('../../datasets/traindata/rawdata/n_uma_race.pkl')
n_race_df.to_pickle('../../datasets/traindata/rawdata/n_race.pkl')
n_payout_df.to_pickle('../../datasets/traindata/rawdata/n_payout.pkl')

In [15]:
# n_uma_race_df = n_uma_race_df[n_uma_race_df['keibajo_code'] == keibajo_code]
# n_uma_race_df = n_uma_race_df[n_uma_race_df['race_bango'] == race_bango]

# n_race_df = n_race_df[n_race_df['keibajo_code']== keibajo_code]
# n_race_df = n_race_df[n_race_df['race_bango'] == race_bango]

# n_uma_race_df

In [16]:
# 新しいグループを作成
n_uma_race_df['group'] = n_uma_race_df['kaisai_nen'].astype(int).astype(str) +"-"+ n_uma_race_df['kaisai_tsukihi'].astype(int).astype(str) +"-"+  n_uma_race_df['keibajo_code'].astype(int).astype(str) +"-"+  n_uma_race_df['race_bango'].astype(int).astype(str)
n_race_df['group'] = n_race_df['kaisai_nen'].astype(int).astype(str) +"-"+ n_race_df['kaisai_tsukihi'].astype(int).astype(str) +"-"+  n_race_df['keibajo_code'].astype(int).astype(str) +"-"+  n_race_df['race_bango'].astype(int).astype(str)

In [17]:
n_race_df = n_race_df.drop(['kaisai_nen', 'kaisai_tsukihi', 'keibajo_code', 'kaisai_kai', 'kaisai_nichime', 'race_bango'],axis=1)
merged_df = pd.merge(n_uma_race_df, n_race_df, on='group', how='left')
merged_df

,record_id_x,data_kubun_x,data_sakusei_nengappi_x,kaisai_nen,kaisai_tsukihi,keibajo_code,kaisai_kai,kaisai_nichime,race_bango,wakuban,...,shogai_mile_time,zenhan_3f,zenhan_4f,kohan_3f_y,kohan_4f_y,corner_tsuka_juni_1,corner_tsuka_juni_2,corner_tsuka_juni_3,corner_tsuka_juni_4,record_koshin_kubun_y
0,SE,2,20231006,2023,1009,35,08,05,12,5,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
1,SE,2,20231006,2023,1009,35,08,05,12,1,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
2,SE,2,20231006,2023,1009,35,08,05,12,6,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
3,SE,2,20231006,2023,1009,35,08,05,12,8,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
4,SE,2,20231006,2023,1009,35,08,05,12,7,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
5,SE,2,20231006,2023,1009,35,08,05,12,2,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
6,SE,2,20231006,2023,1009,35,08,05,12,8,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
7,SE,2,20231006,2023,1009,35,08,05,12,3,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
8,SE,2,20231006,2023,1009,35,08,05,12,7,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
9,SE,2,20231006,2023,1009,35,08,05,12,4,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
10,SE,2,20231006,2023,1009,35,08,05,12,4,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
11,SE,2,20231006,2023,1009,35,08,05,12,3,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
12,SE,2,20231006,2023,1009,35,08,05,12,5,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
13,SE,2,20231006,2023,1009,35,08,05,12,6,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0

In [18]:
# モデルを読み込む
model_file_path = f'../bestmodels/{racecourse}.pkl'
with open(model_file_path, 'rb') as f:
    models = pickle.load(f)

In [19]:
# for horse_num, bataiju in update_bataiju.items():
#     merged_df.loc[merged_df['umaban'].astype(int) == horse_num, 'bataiju'] = bataiju

# for horse_num, zogen_fugo in update_zogen_fugo.items():
#     merged_df.loc[merged_df['umaban'].astype(int) == horse_num, 'zogen_fugo'] = zogen_fugo

# for horse_num, zogen_sa in update_zogen_sa.items():
#     merged_df.loc[merged_df['umaban'].astype(int) == horse_num, 'zogen_sa'] = zogen_sa

In [20]:
# merged_df['bataiju']

In [21]:
# merged_df['zogen_sa']

In [22]:
# merged_df['zogen_fugo']

In [23]:
# # マッピング辞書
# mapping = {
#             '+': 2,
#             ' ':1,
#             '-': 0  
#             }
# # 'zogenfugo' エンコード
# merged_df['zogen_fugo'] = merged_df['zogen_fugo'].map(mapping)

mapping = {
    'A': '1',
    'B': '2',
    'C': '3',
    'D': '4',
    'E': '5',
    'F': '6',
    'G': '7',
    'H': '8',
}
merged_df['grade_code'] = merged_df['grade_code'].map(mapping).fillna(0)

mapping = {
    'A00': '100',
    'A01': '101',
    'A02': '102',
    'A03': '103',
    'A04': '104',
    'A05': '105',
    'A06': '106',
    'A07': '107',
    'A08': '108',
    'A09': '109',
    'A10': '110',
    'A20': '120',
    'A21': '121',
    'A22': '122',
    'A23': '123',
    'A24': '124',
    'A25': '125',
    'N00': '1400',
    'N01': '1401',
    'N02': '1402',
    'N03': '1403',
    'N04': '1404',
    'N05': '1405',
    'N06': '1406',
    'N07': '1407',
    'N08': '1408',
    'N09': '1409',
    'N10': '1410',
    'N20': '1420',
    'N21': '1421',
    'N22': '1422',
    'N23': '1423',
    'N24': '1424',
    'N25': '1425',
    'N41': '1441',
    'N44': '1444',
    'M00': '1300',
    'M01': '1301',
    'M02': '1302',
    'M03': '1303',
    'M04': '1304',
    'M05': '1305',
}
merged_df['kyoso_kigo_code'] = merged_df['kyoso_kigo_code'].map(mapping).fillna(0)

mapping = {
    'A ': '1',
    'B ': '2',
    'C ': '3',
    'D ': '4',
    }

merged_df['course_kubun'] = merged_df['course_kubun'].map(mapping).fillna(0)

In [24]:
merged_df['tenko_code'] = np.nan
merged_df['babajotai_code_dirt'] = np.nan
merged_df['shusso_tosu'] = np.nan
merged_df['zogen_ryou'] = np.nan

In [25]:
mapping = {
    '晴': '1',
    '曇': '2',
    '雨': '3',
    '小雨': '4',
    '雪': '5',
    '小雪': '6',
    }

race_df['tenko_code'] = race_df['weather'].map(mapping)

mapping = {
    '良': '1',
    '稍': '2',
    '稍重': '2',
    '重': '3',
    '不良': '4',
    }

race_df['babajotai_code_dirt'] = race_df['condition'].map(mapping)

In [26]:
merged_df['tenko_code'] = race_df['tenko_code'].iloc[0]
merged_df['babajotai_code_dirt'] = race_df['babajotai_code_dirt'].iloc[0]
merged_df['shusso_tosu'] = race_df['total'].iloc[0]

In [27]:
merged_df['tenko_code']

0     4
1     4
2     4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
Name: tenko_code, dtype: object

In [28]:
# カラム名を変更
horse_df = horse_df.rename(columns={
    'horse_number': 'umaban',
    'weight': 'bataiju',
    'weight_diff': 'zogen_ryou'
})

horse_df['umaban'] = horse_df['umaban'].astype(int)
merged_df['umaban'] = merged_df['umaban'].astype(int)

merged_df = merged_df.merge(horse_df[['umaban', 'bataiju']], on='umaban', how='left', suffixes=('', '_new'))
merged_df = merged_df.merge(horse_df[['umaban', 'zogen_ryou']], on='umaban', how='left', suffixes=('', '_new'))
merged_df['bataiju'] = merged_df['bataiju_new'].combine_first(merged_df['bataiju'])
merged_df['zogen_ryou'] = merged_df['zogen_ryou_new'].combine_first(merged_df['zogen_ryou'])
merged_df.drop(columns=['bataiju_new', 'zogen_ryou_new'], inplace=True)

In [29]:
# def combine_sign_and_diff(row):
#     if row['zogen_fugo'] == 2:
#         return row['zogen_sa']
#     elif row['zogen_fugo'] == 0:
#         return -row['zogen_sa']
#     else:
#         return 0

# merged_df['zogen_ryou'] = merged_df.apply(combine_sign_and_diff, axis=1)

# # scaler = MinMaxScaler()
# # merged_df['zogen_ryou'] = scaler.fit_transform(merged_df[['zogen_ryou']])

In [30]:
merged_df['bataiju']

0     480.0
1     519.0
2     482.0
3     460.0
4     508.0
5     522.0
6     496.0
7     472.0
8     506.0
9     466.0
10    478.0
11
12    538.0
13    515.0
Name: bataiju, dtype: object

In [31]:
merged_df['hutan_wariai'] = merged_df['futan_juryo'].astype(int) / pd.to_numeric(merged_df['bataiju'], errors='coerce')

In [32]:
merged_df['hutan_wariai']

0     1.187500
1     1.098266
2     1.182573
3     1.239130
4     1.122047
5     1.091954
6     1.149194
7     1.165254
8     1.126482
9     1.180258
10    1.192469
11         NaN
12    1.059480
13    1.106796
Name: hutan_wariai, dtype: float64

In [33]:
merged_df['zogen_ryou']

0     -1.0
1      1.0
2      7.0
3     -3.0
4     13.0
5     -4.0
6      1.0
7      6.0
8    -11.0
9      1.0
10     2.0
11     NaN
12     9.0
13     5.0
Name: zogen_ryou, dtype: object

In [34]:
# カラムのデータ型をstrに変換
columns_to_convert = [
                        'kyori',
                        'grade_code',
                        'seibetsu_code',
                        'moshoku_code',
                        'barei',
                        'chokyoshi_code',
                        'banushi_code',
                        'kishu_code',
                        'kishu_minarai_code',
                        'kyoso_shubetsu_code',
                        'juryo_shubetsu_code',
                        'shusso_tosu',
                        'tenko_code',
                        'babajotai_code_dirt',
                        'hutan_wariai',
                        'zogen_ryou',
                        ]

for column in columns_to_convert:
    # 欠損値を0に変換
    merged_df[column].fillna(0, inplace=True)
    
    # 値がすべて整数であるかどうかを確認
    try:
        if merged_df[column].astype(float).apply(lambda x: x.is_integer()).all():
            merged_df[column] = merged_df[column].astype(int)
        else:
            merged_df[column] = merged_df[column].astype(float)
    except ValueError:
        # 文字列などの非数値データが含まれている場合は、float に変換
        merged_df[column] = merged_df[column].astype(float)
    
    print(f"{column} のデータ型: {merged_df[column].dtype}")

kyori のデータ型: int32
grade_code のデータ型: int32
seibetsu_code のデータ型: int32
moshoku_code のデータ型: int32
barei のデータ型: int32
chokyoshi_code のデータ型: int32
banushi_code のデータ型: int32
kishu_code のデータ型: int32
kishu_minarai_code のデータ型: int32
kyoso_shubetsu_code のデータ型: int32
juryo_shubetsu_code のデータ型: int32
shusso_tosu のデータ型: int32
tenko_code のデータ型: int32
babajotai_code_dirt のデータ型: int32
hutan_wariai のデータ型: float64
zogen_ryou のデータ型: int32

### ターゲットデータで予測

In [35]:
# ランキング学習のために必要な特徴量とターゲットを設定
features = [
            'kyori',
            'grade_code',
            'seibetsu_code',
            'moshoku_code',
            'barei',
            'chokyoshi_code',
            'banushi_code',
            'kishu_code',
            'kishu_minarai_code',
            'kyoso_shubetsu_code',
            'juryo_shubetsu_code',
            'shusso_tosu',
            'tenko_code',
            'babajotai_code_dirt',
            'hutan_wariai',
            'zogen_ryou',
            ]


target = 'kakutei_chakujun'

In [36]:
merged_df[features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kyori                14 non-null     int32
 1   grade_code           14 non-null     int32
 2   seibetsu_code        14 non-null     int32
 3   moshoku_code         14 non-null     int32
 4   barei                14 non-null     int32
 5   chokyoshi_code       14 non-null     int32
 6   banushi_code         14 non-null     int32
 7   kishu_code           14 non-null     int32
 8   kishu_minarai_code   14 non-null     int32
 9   kyoso_shubetsu_code  14 non-null     int32
 10  juryo_shubetsu_code  14 non-null     int32
 11  shusso_tosu          14 non-null     int32
 12  tenko_code           14 non-null     int32
 13  babajotai_code_dirt  14 non-null     int32
 14  hutan_wariai         14 non-null     float64
 15  zogen_ryou           14 non-null     int32
dtypes: float64(1), int32(15)
memory usage: 1.1 KB

In [37]:
merged_df[features]

,kyori,grade_code,seibetsu_code,moshoku_code,barei,chokyoshi_code,banushi_code,kishu_code,kishu_minarai_code,kyoso_shubetsu_code,juryo_shubetsu_code,shusso_tosu,tenko_code,babajotai_code_dirt,hutan_wariai,zogen_ryou
0,1600,1,1,4,8,5727,894030,5299,0,13,4,14,4,2,1.187500,-1
1,1600,1,1,3,6,1028,859002,1077,0,13,4,14,4,2,1.098266,1
2,1600,1,1,3,6,1095,523005,1019,0,13,4,14,4,2,1.182573,7
3,1600,1,1,1,6,5169,0,5463,0,13,4,14,4,2,1.239130,-3
4,1600,1,1,3,6,20484,999008,5552,0,13,4,14,4,2,1.122047,13
5,1600,1,1,3,6,1070,629007,5542,0,13,4,14,4,2,1.091954,-4
6,1600,1,1,1,5,5683,893033,5577,0,13,4,14,4,2,1.149194,1
7,1600,1,2,3,5,20477,0,5490,0,13,4,14,4,2,1.165254,6
8,1600,1,1,3,5,5691,537033,5524,0,13,4,14,4,2,1.126482,-11
9,1600,1,2,5,5,1078,348803,1034,0,13,4,14,4,2,1.180258,1
10,1600,1,1,3,5,5762,208006,20424,0,13,4,14,4,2,1.192469,2
11,1600,1,1,1,5,1162,967800,1163,0,13,4,14,4,2,0.000000,0
12,1600,1,1,3,4,1002,708800,666,0,13,4,14,4,2,1.059480,9
13,1600,1,1,1,4,1126,226800,1174,0,13,4,14,4,2,1.106796,5

In [38]:
# "取消" の umaban を取得
cancelled_umabans = horse_df[horse_df['mark'] == '取消']['umaban']

# その umaban を持つ merged_df の行を削除
merged_df = merged_df[~merged_df['umaban'].isin(cancelled_umabans)]

In [39]:
# merged_df['y_pred'] = sum([model.predict(merged_df[features], num_iteration=model.best_iteration) for model in models]) / len(models)
merged_df['y_pred'] = models.predict(merged_df[features], num_iteration=models.best_iteration)

In [40]:
# 予測されたランクをグループごとに計算
merged_df['predicted_rank'] = merged_df.groupby('group')['y_pred'].rank(method='min')

In [41]:
# groupとpredicted_rankでソート
sorted_df = merged_df.sort_values(by=['group', 'predicted_rank'])

In [42]:
sorted_df[['predicted_rank', 'bamei', 'umaban', 'zogen_ryou', 'hutan_wariai', 'shusso_tosu', 'juryo_shubetsu_code', 'y_pred']]

,predicted_rank,bamei,umaban,zogen_ryou,hutan_wariai,shusso_tosu,juryo_shubetsu_code,y_pred
12,1.0,ノットゥルノ,7,9,1.059480,14,4,3.379421
11,2.0,レモンポップ,3,0,0.000000,14,4,3.516703
13,3.0,ジオグリフ,9,5,1.106796,14,4,3.649478
1,4.0,タガノビューティー,1,1,1.098266,14,4,3.904558
9,5.0,レディバグ,6,1,1.180258,14,4,4.720557
2,6.0,デンコウリジエール,10,7,1.182573,14,4,5.006389
5,7.0,カフェファラオ,2,-4,1.091954,14,4,5.948223
0,8.0,ソリストサンダー,8,-1,1.187500,14,4,8.717474
10,9.0,ハクシンパーソナル,5,2,1.192469,14,4,8.734141
8,10.0,イグナイター,12,-11,1.126482,14,4,9.200598
3,11.0,レールガン,13,-3,1.239130,14,4,9.668494
6,12.0,ボウトロイ,14,1,1.149194,14,4,9.988327
7,13.0,ゴールデンヒーラー,4,6,1.165254,14,4,10.011290
4,14.0,アルサトワ,11,13,1.122047,14,4,10.215527