# config

In [1]:
racecourse = 'morioka'
race_id = 202335100910
kaisai_nen = '2023'
kaisai_tsukihi = '1009'

In [2]:
race_bango = '10'
keibajo_code = '35'

In [3]:
# tenko_code = 4
# # 0	未設定・未整備時の初期値(主に地方競馬・海外国際レースに関するデータ)
# # 1	晴	Fine
# # 2	曇	Cloudy
# # 3	雨	Rainy
# # 4	小雨	Drizzle
# # 5	雪	Snow
# # 6	小雪	Light Snow


# babajotai_code_dirt = 3
# # 0	未設定・未整備時の初期値(主に地方競馬・海外国際レースに関するデータ)
# # 1	良	Firm	Standard
# # 2	稍重	Good	Good
# # 3	重	Yielding	Muddy
# # 4	不良	Soft	Sloppy


# juryo_shubetsu_code = 0
# # 0	未設定・未整備時の初期値(主に地方競馬・海外国際レースに関するデータ)
# # 1	ハンデ	HANDICAP	出走馬の実績等を考慮し、ハンデキャッパーが負担重量を決定するレース
# # 2	別定	SPECIAL WEIGHT	レースごとに負担重量を決定する基準が設けられているレース
# # 3	馬齢	WEIGHT FOR AGE	馬の年齢や性別によって負担重量を決定するレース
# # 4	定量	SPECIAL WEIGHT	別定レースであって、馬の年齢や性別によって負担重量を決定するレース

# shusso_tosu = 11

In [4]:
# update_bataiju = {
#     1: 493,
#     2: 502,
#     3: 479,
#     4: 451,
#     5: 466,
#     6: 594,
#     7: 431,
#     8: 489,
#     9: 508,
#     10: 427,
#     11: 503,
#     # 12: 420,
# }

# update_zogen_fugo = {
#     1: '+',
#     2: '+',
#     3: '-',
#     4: '-',
#     5: '-',
#     6: '-',
#     7: '-',
#     8: '+',
#     9: '+',
#     10: '-',
#     11: '-',
#     # 12: '+',
# }

# update_zogen_sa = {
#     1: 1,
#     2: 1,
#     3: 7,
#     4: 19,
#     5: 2,
#     6: 1,
#     7: 4,
#     8: 7,
#     9: 5,
#     10: 1,
#     11: 7,
#     # 12: 5,
# }

In [5]:
import pandas as pd
import numpy as np

import psycopg2
import configparser
from sklearn.preprocessing import MinMaxScaler

#モデル
import lightgbm as lgb

#クロスバリデーション
from sklearn.model_selection import KFold

#エヴァリュエーション
from sklearn.metrics import precision_score, recall_score, mean_squared_error

#可視化
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

#保存
import pickle

# scraping

In [6]:
import requests
from bs4 import BeautifulSoup
import re
url = f'https://nar.netkeiba.com/race/shutuba.html?race_id={race_id}'
#url = f'https://race.netkeiba.com/race/shutuba.html?race_id={race_id}'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
# race基本情報
race_list = [race_id]
horse_list_list = []
title = soup.find('title').text
race_name, date = title.split(' | ')[0], title.split(' | ')[1]
try:
    extracted_race_name = race_name.split(' ')[0]
    race_list.append(extracted_race_name)
except:
    race_list.append(race_name)
match_date = re.search(r'(\d{4})年(\d{1,2})月(\d{1,2})日', date)
year, month, day = match_date.groups()
match_place_race = re.search(r'(\w+)(\d{1,2})R', date)
place, race_number = match_place_race.groups()
race_list.append(int(year))
race_list.append(int(month))
race_list.append(int(day))
race_list.append(place)
race_list.append(int(race_number))

try:
    # 頭数の情報を含む要素を取得
    race_data_02_element = soup.select_one('.RaceData02')
    # 頭数のテキストを取得
    if race_data_02_element:
        race_data_02_text = race_data_02_element.get_text()
        # 頭数の情報を取得
        horse_count_match = re.search(r'(\d+)頭', race_data_02_text)
        if horse_count_match:
            race_list.append(int(horse_count_match.group(1)))
except:
    race_list.append(None)

# ダートまたは芝の情報を取得
try:
    race_data_element = soup.select_one('.RaceData01')
    if race_data_element:
        race_data_text = race_data_element.get_text()
        ground_match = re.search(r'(ダ|芝)\d+m', race_data_text)
        if ground_match:
            ground_type = ground_match.group(1)
            race_list.append(ground_type)
except:
    race_list.append(None)

try:
    race_data_element = soup.select_one('.RaceData01')
    # 天候と馬場状態のテキストを取得
    if race_data_element:
        race_data_text = race_data_element.get_text()  
        # 天候の情報を取得
        weather_match = re.search(r'天候:(\w+)', race_data_text)
        if weather_match:
            race_list.append(weather_match.group(1))
        # 馬場状態の情報を取得
        track_condition_match = re.search(r'馬場:(\w+)', race_data_text)
        if track_condition_match:
            race_list.append(track_condition_match.group(1))
except:
    race_list.extend([None, None])

#tableの情報を取得
horse_tables = soup.findAll("table", class_="RaceTable01")
horse_table = horse_tables[0].findAll('tr', class_="HorseList")

# 取り消しの馬の数をカウントする変数
cancel_count = 0

#tableの情報から各情報を抜き出す
for i in range(len(horse_table)):
    horse_list = [race_id]
    result_row = horse_table[i].findAll("td")
        
    # 馬の名前の整理
    horse_list.append(result_row[3].get_text().strip())

    # 取り消しのチェック
    if "Cancel" in horse_table[i].get("class"):
        horse_list.append("取消")
        cancel_count += 1  # 取り消しの馬の数をカウント
    else:
        horse_list.append("出走")
    
    horse_list.append(int(result_row[0].get_text().strip()))  # 枠
    horse_list.append(int(result_row[1].get_text().strip()))  # 番号
    
    # 馬体重の整理
    try:
        weight_match = re.match(r'(\d+)\(([-+]?\d+)\)', result_row[8].get_text().strip())
        body_weight, body_weight_diff = weight_match.groups()
        horse_list.append(float(body_weight))  # 馬体重
        horse_list.append(float(body_weight_diff))  # 増減差
    except:
        horse_list.extend([None, None])

    # オッズの整理
    odds = result_row[9].get_text().strip().split('\n')[0]
    cleaned_odds = re.sub(r"[^0-9.]", "", odds)
    if cleaned_odds:
        horse_list.append(float(cleaned_odds))
    else:
        horse_list.append(None)
    
    # 人気の整理
    popularity = result_row[10].get_text().strip().split('\n')[0]
    cleaned_popularity = re.sub(r"[^0-9]", "", popularity)
    if cleaned_popularity:
        horse_list.append(float(cleaned_popularity))
    else:
        horse_list.append(None)

    horse_list_list.append(horse_list)
race_df = pd.DataFrame(columns = ['race_id','race_title','year', 'month', 'day', 'place', 'race_number', 'total', 'type', 'weather', 'condition'])
horse_df = pd.DataFrame(columns = ['race_id', 'horse_name', 'mark', 'frame_number','horse_number', 'weight', 'weight_diff', 'odds', 'popular'])

for horse_list in horse_list_list:
    horse_se = pd.Series( horse_list, index=horse_df.columns)
    horse_df = pd.concat([horse_df, horse_se.to_frame().T], ignore_index=True)
race_se = pd.Series(race_list, index=race_df.columns )
race_df = pd.concat([race_df, race_se.to_frame().T], ignore_index=True)

race_df['total'] = race_df['total'] - cancel_count

In [7]:
race_df

,race_id,race_title,year,month,day,place,race_number,total,type,weather,condition
0,202335100910,寒露特別,2023,10,9,盛岡1,0,8,ダ,曇,稍

In [8]:
horse_df

,race_id,horse_name,mark,frame_number,horse_number,weight,weight_diff,odds,popular
0,202335100910,ドルズプライスレス,出走,1,1,520.0,-4.0,2.2,1.0
1,202335100910,ダブルラッキー,出走,2,2,480.0,5.0,6.0,2.0
2,202335100910,アヴェントゥリスト,出走,3,3,544.0,6.0,18.2,8.0
3,202335100910,ヒカルマドンナ,出走,4,4,456.0,0.0,8.3,5.0
4,202335100910,アップテンペスト,出走,5,5,462.0,3.0,7.2,4.0
5,202335100910,ブレイニーラン,出走,6,6,477.0,2.0,6.2,3.0
6,202335100910,マイグレーション,出走,7,7,517.0,-3.0,13.0,7.0
7,202335100910,ストロングフォース,出走,8,8,515.0,-10.0,11.4,6.0

In [9]:
config = configparser.ConfigParser()
config.read('../../config.ini')

user = config['postgresql']['user']
password = config['postgresql']['password']
host = config['postgresql']['host']
database = config['postgresql']['database']

connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [10]:
# PostgreSQLに接続
%load_ext sql
%sql $connection_string

In [11]:
%%sql
SELECT *
FROM nvd_se
WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code
LIMIT 100;

 * postgresql://postgres:***@localhost/pckeiba
8 rows affected.

[('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '6', '06', '2015104974', 'ブレイニーラン\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '08', '3', '20645', '小林俊彦', '000000', '高橋\u3000清彦\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黄，黒縦縞，黒袖黄二本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '560', '000', '0', '0', '20424', '00000', '坂口裕一', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '3', '03', '2016105350', 'アヴェントゥリスト\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '04', '07', '3', '05709', '千葉博次', '000000', '岩渕\u3000瑞生\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黄，青一本輪，袖青縦縞\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '560', '000', '0', '0', '05591', '00000', '塚本涼人', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '4', '04', '2018101673', 'ヒカルマドンナ\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '2', '1', '05', '05', '3', '05365', '村上実\u3000', '000000', '高橋\u3000悦彌\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '赤，白襷，白袖赤二本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '540', '000', '0', '0', '05294', '00000', '村上忍\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '7', '07', '2018104365', 'マイグレーション\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '04', '05', '3', '20656', '飯田弘道', '319007', '野村\u3000茂雄\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '黒，桃ダイヤモンド，桃袖黒一本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '560', '000', '0', '0', '05560', '00000', '小林凌\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '1', '01', '2019100244', 'ドルズプライスレス\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '03', '04', '3', '05720', '伊藤和忍', '259031', '佐々木\u3000貴将\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '白，青襷，桃袖\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '560', '000', '0', '0', '05463', '00000', '高橋悠里', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '2', '02', '2019104287', 'ダブルラッキー\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '05', '04', '3', '05683', '菅原勲\u3000', '000000', '小野瀬\u3000竜馬\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '青，桃一文字\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '560', '000', '0', '0', '05119', '00000', '阿部英俊', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '5', '05', '2019105888', 'アップテンペスト\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '2', '1', '01', '04', '3', '05417', '佐藤雅彦', '000000', '増田\u3000兼良\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '青，白星散，袖白二本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '540', '000', '0', '0', '05542', '00000', '高松亮\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0'),
 ('SE', '2', '20231006', '2023', '1009', '35', '08', '05', '10', '8', '08', '2019106998', 'ストロングフォース\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '00', '1', '1', '04', '04', '3', '05683', '菅原勲\u3000', '689033', '犬塚\u3000悠治郎\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '緑，黄袖緑一本輪\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '560', '000', '0', '0', '05577', '00000', '岩本怜\u3000', '\u3000\u3000\u3000\u3000', '0', '0', '   ', ' ', '   ', '0', '00', '00', '0', '0', '0000', '   ', '   ', '   ', '00', '00', '00', '00', '0000', '00', '00000000', '00000000', '000', '000', '000', '000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000000000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000', '0000', '0', '0', '00000', '0000', '0000', '00', '0')]

In [12]:
n_uma_race_sql = %sql SELECT * FROM nvd_se WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code;
n_race_sql = %sql SELECT * FROM nvd_ra WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code;
n_payout_sql = %sql SELECT * FROM nvd_hr WHERE kaisai_nen = :kaisai_nen AND kaisai_tsukihi = :kaisai_tsukihi AND race_bango = :race_bango AND keibajo_code = :keibajo_code;

 * postgresql://postgres:***@localhost/pckeiba
8 rows affected.
 * postgresql://postgres:***@localhost/pckeiba
1 rows affected.
 * postgresql://postgres:***@localhost/pckeiba
0 rows affected.

In [13]:
n_uma_race_df = pd.DataFrame(n_uma_race_sql)
n_race_df = pd.DataFrame(n_race_sql)
n_payout_df = pd.DataFrame(n_payout_sql)

In [14]:
n_uma_race_df.to_pickle('../../datasets/traindata/rawdata/n_uma_race.pkl')
n_race_df.to_pickle('../../datasets/traindata/rawdata/n_race.pkl')
n_payout_df.to_pickle('../../datasets/traindata/rawdata/n_payout.pkl')

In [15]:
# n_uma_race_df = n_uma_race_df[n_uma_race_df['keibajo_code'] == keibajo_code]
# n_uma_race_df = n_uma_race_df[n_uma_race_df['race_bango'] == race_bango]

# n_race_df = n_race_df[n_race_df['keibajo_code']== keibajo_code]
# n_race_df = n_race_df[n_race_df['race_bango'] == race_bango]

# n_uma_race_df

In [16]:
# 新しいグループを作成
n_uma_race_df['group'] = n_uma_race_df['kaisai_nen'].astype(int).astype(str) +"-"+ n_uma_race_df['kaisai_tsukihi'].astype(int).astype(str) +"-"+  n_uma_race_df['keibajo_code'].astype(int).astype(str) +"-"+  n_uma_race_df['race_bango'].astype(int).astype(str)
n_race_df['group'] = n_race_df['kaisai_nen'].astype(int).astype(str) +"-"+ n_race_df['kaisai_tsukihi'].astype(int).astype(str) +"-"+  n_race_df['keibajo_code'].astype(int).astype(str) +"-"+  n_race_df['race_bango'].astype(int).astype(str)

In [17]:
n_race_df = n_race_df.drop(['kaisai_nen', 'kaisai_tsukihi', 'keibajo_code', 'kaisai_kai', 'kaisai_nichime', 'race_bango'],axis=1)
merged_df = pd.merge(n_uma_race_df, n_race_df, on='group', how='left')
merged_df

,record_id_x,data_kubun_x,data_sakusei_nengappi_x,kaisai_nen,kaisai_tsukihi,keibajo_code,kaisai_kai,kaisai_nichime,race_bango,wakuban,...,shogai_mile_time,zenhan_3f,zenhan_4f,kohan_3f_y,kohan_4f_y,corner_tsuka_juni_1,corner_tsuka_juni_2,corner_tsuka_juni_3,corner_tsuka_juni_4,record_koshin_kubun_y
0,SE,2,20231006,2023,1009,35,08,05,10,6,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
1,SE,2,20231006,2023,1009,35,08,05,10,3,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
2,SE,2,20231006,2023,1009,35,08,05,10,4,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
3,SE,2,20231006,2023,1009,35,08,05,10,7,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
4,SE,2,20231006,2023,1009,35,08,05,10,1,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
5,SE,2,20231006,2023,1009,35,08,05,10,2,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
6,SE,2,20231006,2023,1009,35,08,05,10,5,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0
7,SE,2,20231006,2023,1009,35,08,05,10,8,...,0000,000,000,000,000,00 ...,00 ...,00 ...,00 ...,0

In [18]:
# モデルを読み込む
model_file_path = f'../bestmodels/{racecourse}.pkl'
with open(model_file_path, 'rb') as f:
    models = pickle.load(f)

In [19]:
# for horse_num, bataiju in update_bataiju.items():
#     merged_df.loc[merged_df['umaban'].astype(int) == horse_num, 'bataiju'] = bataiju

# for horse_num, zogen_fugo in update_zogen_fugo.items():
#     merged_df.loc[merged_df['umaban'].astype(int) == horse_num, 'zogen_fugo'] = zogen_fugo

# for horse_num, zogen_sa in update_zogen_sa.items():
#     merged_df.loc[merged_df['umaban'].astype(int) == horse_num, 'zogen_sa'] = zogen_sa

In [20]:
# merged_df['bataiju']

In [21]:
# merged_df['zogen_sa']

In [22]:
# merged_df['zogen_fugo']

In [23]:
# # マッピング辞書
# mapping = {
#             '+': 2,
#             ' ':1,
#             '-': 0  
#             }
# # 'zogenfugo' エンコード
# merged_df['zogen_fugo'] = merged_df['zogen_fugo'].map(mapping)

mapping = {
    'A': '1',
    'B': '2',
    'C': '3',
    'D': '4',
    'E': '5',
    'F': '6',
    'G': '7',
    'H': '8',
}
merged_df['grade_code'] = merged_df['grade_code'].map(mapping).fillna(0)

mapping = {
    'A00': '100',
    'A01': '101',
    'A02': '102',
    'A03': '103',
    'A04': '104',
    'A05': '105',
    'A06': '106',
    'A07': '107',
    'A08': '108',
    'A09': '109',
    'A10': '110',
    'A20': '120',
    'A21': '121',
    'A22': '122',
    'A23': '123',
    'A24': '124',
    'A25': '125',
    'N00': '1400',
    'N01': '1401',
    'N02': '1402',
    'N03': '1403',
    'N04': '1404',
    'N05': '1405',
    'N06': '1406',
    'N07': '1407',
    'N08': '1408',
    'N09': '1409',
    'N10': '1410',
    'N20': '1420',
    'N21': '1421',
    'N22': '1422',
    'N23': '1423',
    'N24': '1424',
    'N25': '1425',
    'N41': '1441',
    'N44': '1444',
    'M00': '1300',
    'M01': '1301',
    'M02': '1302',
    'M03': '1303',
    'M04': '1304',
    'M05': '1305',
}
merged_df['kyoso_kigo_code'] = merged_df['kyoso_kigo_code'].map(mapping).fillna(0)

mapping = {
    'A ': '1',
    'B ': '2',
    'C ': '3',
    'D ': '4',
    }

merged_df['course_kubun'] = merged_df['course_kubun'].map(mapping).fillna(0)

In [24]:
merged_df['tenko_code'] = np.nan
merged_df['babajotai_code_dirt'] = np.nan
merged_df['shusso_tosu'] = np.nan
merged_df['zogen_ryou'] = np.nan

In [25]:
mapping = {
    '晴': '1',
    '曇': '2',
    '雨': '3',
    '小雨': '4',
    '雪': '5',
    '小雪': '6',
    }

race_df['tenko_code'] = race_df['weather'].map(mapping)

mapping = {
    '良': '1',
    '稍': '2',
    '稍重': '2',
    '重': '3',
    '不良': '4',
    }

race_df['babajotai_code_dirt'] = race_df['condition'].map(mapping)

In [26]:
merged_df['tenko_code'] = race_df['tenko_code'].iloc[0]
merged_df['babajotai_code_dirt'] = race_df['babajotai_code_dirt'].iloc[0]
merged_df['shusso_tosu'] = race_df['total'].iloc[0]

In [27]:
merged_df['tenko_code']

0    2
1    2
2    2
3    2
4    2
5    2
6    2
7    2
Name: tenko_code, dtype: object

In [28]:
# カラム名を変更
horse_df = horse_df.rename(columns={
    'horse_number': 'umaban',
    'weight': 'bataiju',
    'weight_diff': 'zogen_ryou'
})

horse_df['umaban'] = horse_df['umaban'].astype(int)
merged_df['umaban'] = merged_df['umaban'].astype(int)

merged_df = merged_df.merge(horse_df[['umaban', 'bataiju']], on='umaban', how='left', suffixes=('', '_new'))
merged_df = merged_df.merge(horse_df[['umaban', 'zogen_ryou']], on='umaban', how='left', suffixes=('', '_new'))
merged_df['bataiju'] = merged_df['bataiju_new'].combine_first(merged_df['bataiju'])
merged_df['zogen_ryou'] = merged_df['zogen_ryou_new'].combine_first(merged_df['zogen_ryou'])
merged_df.drop(columns=['bataiju_new', 'zogen_ryou_new'], inplace=True)

In [29]:
# def combine_sign_and_diff(row):
#     if row['zogen_fugo'] == 2:
#         return row['zogen_sa']
#     elif row['zogen_fugo'] == 0:
#         return -row['zogen_sa']
#     else:
#         return 0

# merged_df['zogen_ryou'] = merged_df.apply(combine_sign_and_diff, axis=1)

# # scaler = MinMaxScaler()
# # merged_df['zogen_ryou'] = scaler.fit_transform(merged_df[['zogen_ryou']])

In [30]:
merged_df['bataiju']

0    477.0
1    544.0
2    456.0
3    517.0
4    520.0
5    480.0
6    462.0
7    515.0
Name: bataiju, dtype: object

In [31]:
merged_df['hutan_wariai'] = merged_df['futan_juryo'].astype(int) / pd.to_numeric(merged_df['bataiju'], errors='coerce')

In [32]:
merged_df['hutan_wariai']

0    1.174004
1    1.029412
2    1.184211
3    1.083172
4    1.076923
5    1.166667
6    1.168831
7    1.087379
Name: hutan_wariai, dtype: float64

In [33]:
merged_df['zogen_ryou']

0     2.0
1     6.0
2     0.0
3    -3.0
4    -4.0
5     5.0
6     3.0
7   -10.0
Name: zogen_ryou, dtype: object

In [34]:
# カラムのデータ型をstrに変換
columns_to_convert = [
                        'kyori',
                        'grade_code',
                        'seibetsu_code',
                        'moshoku_code',
                        'barei',
                        'chokyoshi_code',
                        'banushi_code',
                        'kishu_code',
                        'kishu_minarai_code',
                        'kyoso_shubetsu_code',
                        'juryo_shubetsu_code',
                        'shusso_tosu',
                        'tenko_code',
                        'babajotai_code_dirt',
                        'hutan_wariai',
                        'zogen_ryou',
                        ]

for column in columns_to_convert:
    # 欠損値を0に変換
    merged_df[column].fillna(0, inplace=True)
    
    # 値がすべて整数であるかどうかを確認
    try:
        if merged_df[column].astype(float).apply(lambda x: x.is_integer()).all():
            merged_df[column] = merged_df[column].astype(int)
        else:
            merged_df[column] = merged_df[column].astype(float)
    except ValueError:
        # 文字列などの非数値データが含まれている場合は、float に変換
        merged_df[column] = merged_df[column].astype(float)
    
    print(f"{column} のデータ型: {merged_df[column].dtype}")

kyori のデータ型: int32
grade_code のデータ型: int32
seibetsu_code のデータ型: int32
moshoku_code のデータ型: int32
barei のデータ型: int32
chokyoshi_code のデータ型: int32
banushi_code のデータ型: int32
kishu_code のデータ型: int32
kishu_minarai_code のデータ型: int32
kyoso_shubetsu_code のデータ型: int32
juryo_shubetsu_code のデータ型: int32
shusso_tosu のデータ型: int32
tenko_code のデータ型: int32
babajotai_code_dirt のデータ型: int32
hutan_wariai のデータ型: float64
zogen_ryou のデータ型: int32

### ターゲットデータで予測

In [35]:
# ランキング学習のために必要な特徴量とターゲットを設定
features = [
            'kyori',
            'grade_code',
            'seibetsu_code',
            'moshoku_code',
            'barei',
            'chokyoshi_code',
            'banushi_code',
            'kishu_code',
            'kishu_minarai_code',
            'kyoso_shubetsu_code',
            'juryo_shubetsu_code',
            'shusso_tosu',
            'tenko_code',
            'babajotai_code_dirt',
            'hutan_wariai',
            'zogen_ryou',
            ]


target = 'kakutei_chakujun'

In [36]:
merged_df[features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kyori                8 non-null      int32
 1   grade_code           8 non-null      int32
 2   seibetsu_code        8 non-null      int32
 3   moshoku_code         8 non-null      int32
 4   barei                8 non-null      int32
 5   chokyoshi_code       8 non-null      int32
 6   banushi_code         8 non-null      int32
 7   kishu_code           8 non-null      int32
 8   kishu_minarai_code   8 non-null      int32
 9   kyoso_shubetsu_code  8 non-null      int32
 10  juryo_shubetsu_code  8 non-null      int32
 11  shusso_tosu          8 non-null      int32
 12  tenko_code           8 non-null      int32
 13  babajotai_code_dirt  8 non-null      int32
 14  hutan_wariai         8 non-null      float64
 15  zogen_ryou           8 non-null      int32
dtypes: float64(1), int32(15)
memory usage: 672.0 bytes

In [37]:
merged_df[features]

,kyori,grade_code,seibetsu_code,moshoku_code,barei,chokyoshi_code,banushi_code,kishu_code,kishu_minarai_code,kyoso_shubetsu_code,juryo_shubetsu_code,shusso_tosu,tenko_code,babajotai_code_dirt,hutan_wariai,zogen_ryou
0,1600,5,1,3,8,20645,0,20424,0,49,2,8,2,2,1.174004,2
1,1600,5,1,4,7,5709,0,5591,0,49,2,8,2,2,1.029412,6
2,1600,5,2,5,5,5365,0,5294,0,49,2,8,2,2,1.184211,0
3,1600,5,1,4,5,20656,319007,5560,0,49,2,8,2,2,1.083172,-3
4,1600,5,1,3,4,5720,259031,5463,0,49,2,8,2,2,1.076923,-4
5,1600,5,1,5,4,5683,0,5119,0,49,2,8,2,2,1.166667,5
6,1600,5,2,1,4,5417,0,5542,0,49,2,8,2,2,1.168831,3
7,1600,5,1,4,4,5683,689033,5577,0,49,2,8,2,2,1.087379,-10

In [38]:
# "取消" の umaban を取得
cancelled_umabans = horse_df[horse_df['mark'] == '取消']['umaban']

# その umaban を持つ merged_df の行を削除
merged_df = merged_df[~merged_df['umaban'].isin(cancelled_umabans)]

In [39]:
# merged_df['y_pred'] = sum([model.predict(merged_df[features], num_iteration=model.best_iteration) for model in models]) / len(models)
merged_df['y_pred'] = models.predict(merged_df[features], num_iteration=models.best_iteration)

In [40]:
# 予測されたランクをグループごとに計算
merged_df['predicted_rank'] = merged_df.groupby('group')['y_pred'].rank(method='min')

In [41]:
# groupとpredicted_rankでソート
sorted_df = merged_df.sort_values(by=['group', 'predicted_rank'])

In [42]:
sorted_df[['predicted_rank', 'bamei', 'umaban', 'zogen_ryou', 'hutan_wariai', 'shusso_tosu', 'juryo_shubetsu_code', 'y_pred']]

,predicted_rank,bamei,umaban,zogen_ryou,hutan_wariai,shusso_tosu,juryo_shubetsu_code,y_pred
4,1.0,ドルズプライスレス,1,-4,1.076923,8,2,3.719184
2,2.0,ヒカルマドンナ,4,0,1.184211,8,2,3.973028
5,3.0,ダブルラッキー,2,5,1.166667,8,2,4.525641
0,4.0,ブレイニーラン,6,2,1.174004,8,2,4.599215
7,5.0,ストロングフォース,8,-10,1.087379,8,2,4.623453
6,6.0,アップテンペスト,5,3,1.168831,8,2,4.696986
3,7.0,マイグレーション,7,-3,1.083172,8,2,5.339343
1,8.0,アヴェントゥリスト,3,6,1.029412,8,2,5.431543